/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );



* {
  user-select: none;
  -webkit-user-select: none;
}


@font-face {
  font-family: 'Sanchez';
  src: url('/fonts/sanchez-v17-latin-regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/fredoka-v17-latin-regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prosto One';
  src: url('/fonts/prosto-one-v21-latin-regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telex';
  src: url('/fonts/telex-v18-latin-regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shanti';
  src: url('/fonts/shanti-v25-latin-regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rye';
  src: url('/fonts/rye-v17-latin-regular.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.v-textarea textarea.v-field__input {
  font-family: 'Sanchez';
  font-size: 28px;
}

.v-text-field input.v-field__input {
  font-family: 'Sanchez';
  font-size: 16px;
}
.v-text-field label {
  font-family: 'Telex';
  font-size: 16px;
}

.v-list {
  font-family: 'Fredoka';
  font-size: 16px;
}

.v-card-title {
  font-family: 'Prosto One';
  font-size: 24px;
}

.v-checkbox {
  font-family: 'Telex';
  font-size: 16px;
}

.v-btn {
  font-family: 'Shanti';
  font-size: 16px;
}

.v-tooltip {
  font-family: 'Rye';
  font-size: 44px;
}

.v-tooltip > .v-overlay__content {
  background-color: rgb(var(--v-theme-primary));
}

.table-container {
  margin-top: 8px; /* or whatever space you want */
  flex: 1;
  min-height: 0; /* important for Handsontable */
}

/* - - - - HOT Theme modification - - - - */
.ht-theme-horizon-dark {
  --ht-color-accent-300: #00cccc;
  --ht-color-accent-400: #009999;
  --ht-menu-shadow-color: #004d4d;
  --ht-menu-item-hover-color: #003333;
  --ht-menu-item-active-color: #004d4d;
  --ht-primary-button-hover-background-color: #00cccc;
}